[data-tuktuk=boxes]{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-box-pack:justify;-o-box-pack:justify;box-pack:justify;overflow:hidden;}
[data-tuktuk=boxes] > aside,[data-tuktuk=boxes] > section{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;-o-box-orient:vertical;box-orient:vertical;}
[data-tuktuk=boxes] > aside > header,[data-tuktuk=boxes] > section > header,[data-tuktuk=boxes] > aside > footer,[data-tuktuk=boxes] > section > footer,[data-tuktuk=boxes] > aside > div > header,[data-tuktuk=boxes] > section > div > header,[data-tuktuk=boxes] > aside > div > footer,[data-tuktuk=boxes] > section > div > footer{-webkit-box-flex:0;-moz-box-flex:0;-ms-box-flex:0;-o-box-flex:0;box-flex:0;display:block;height:52px;line-height:52px;padding:0 1em}
[data-tuktuk=boxes] > aside article,[data-tuktuk=boxes] > section article{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1}
[data-tuktuk=boxes] > aside{z-index:2;-webkit-box-flex:0;-moz-box-flex:0;-ms-box-flex:0;-o-box-flex:0;box-flex:0;min-width:224px;margin:0 !important;float:none !important;}
[data-tuktuk=boxes] > aside.absolute{position:absolute;height:inherit;-webkit-transition:all 400ms;-moz-transition:all 400ms;-ms-transition:all 400ms;-o-transition:all 400ms;transition:all 400ms;}
[data-tuktuk=boxes] > aside.absolute:not(.right){-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-o-transform:translateX(-100%);transform:translateX(-100%)}
[data-tuktuk=boxes] > aside.absolute.right{-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-ms-transform:translateX(100%);-o-transform:translateX(100%);transform:translateX(100%)}
[data-tuktuk=boxes] > aside.absolute.active{-webkit-transform:translateX(0%);-moz-transform:translateX(0%);-ms-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%)}
[data-tuktuk=boxes] > aside > div{width:100%;height:100%;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;-o-box-orient:vertical;box-orient:vertical}
[data-tuktuk=boxes] > section{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1;z-index:0}
[data-tuktuk=boxes] > aside .session > *,[data-tuktuk=boxes] > section .session > *{display:inline-block;float:left}
[data-tuktuk=boxes] > aside .session > .responsive,[data-tuktuk=boxes] > section .session > .responsive{padding:.6666666666666666em .5em .6666666666666666em 0}

.button,button{display:inline-block;border:none;cursor:pointer;font-size:1.15em;font-family:inherit;font-weight:inherit;line-height:2.3em;text-align:center;text-decoration:none;outline:none;}
.button:disabled,button:disabled,.button.disabled,button.disabled{background:rgba(255,255,255,0.2);color:#999 !important}
.button.icon,button.icon{padding:0 10px}
.button:not(.icon),button:not(.icon){padding:0 18px;}
.button:not(.icon) .icon,button:not(.icon) .icon{margin-right:.5em;display:inline-block}
.button.anchor,button.anchor{width:100%;position:relative;}
.button.anchor:not(.icon) .icon,button.anchor:not(.icon) .icon{position:absolute;left:5%}
.button.large,button.large{font-size:1.5em;line-height:2.4em;}
.button.large.icon,button.large.icon{padding:0 16px}
.button.large:not(.icon),button.large:not(.icon){padding:0 26px}
.button.small,button.small{font-size:1em;line-height:2.1em;}
.button.small.icon,button.small.icon{padding:0 8px}
.button.small:not(.icon),button.small:not(.icon){padding:0 11px}
.button.tiny,button.tiny{font-size:.9em;line-height:1.8em;}
.button.tiny.icon,button.tiny.icon{padding:0 5px}
.button.tiny:not(.icon),button.tiny:not(.icon){padding:0 8px}

.flexbox{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;}
.flexbox.y{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;-o-box-orient:vertical;box-orient:vertical;}
.flexbox.y.top{-webkit-box-pack:start;-moz-box-pack:start;-ms-box-pack:start;-o-box-pack:start;box-pack:start}
.flexbox.y.bottom{-webkit-box-pack:end;-moz-box-pack:end;-ms-box-pack:end;-o-box-pack:end;box-pack:end}
.flexbox.y.middle{-webkit-box-pack:center;-moz-box-pack:center;-ms-box-pack:center;-o-box-pack:center;box-pack:center}
.flexbox.y.left{-webkit-box-align:start;-moz-box-align:start;-ms-box-align:start;-o-box-align:start;box-align:start}
.flexbox.y.right{-webkit-box-align:end;-moz-box-align:end;-ms-box-align:end;-o-box-align:end;box-align:end}
.flexbox.y.center{-webkit-box-align:center;-moz-box-align:center;-ms-box-align:center;-o-box-align:center;box-align:center}
.flexbox.x{-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-ms-box-orient:horizontal;-o-box-orient:horizontal;box-orient:horizontal;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-box-pack:justify;-o-box-pack:justify;box-pack:justify;}
.flexbox.x.top{-webkit-box-align:start;-moz-box-align:start;-ms-box-align:start;-o-box-align:start;box-align:start}
.flexbox.x.bottom{-webkit-box-align:end;-moz-box-align:end;-ms-box-align:end;-o-box-align:end;box-align:end}
.flexbox.x.middle{-webkit-box-align:center;-moz-box-align:center;-ms-box-align:center;-o-box-align:center;box-align:center}
.flexbox.x.left{-webkit-box-pack:start;-moz-box-pack:start;-ms-box-pack:start;-o-box-pack:start;box-pack:start}
.flexbox.x.right{-webkit-box-pack:end;-moz-box-pack:end;-ms-box-pack:end;-o-box-pack:end;box-pack:end}
.flexbox.x.center{-webkit-box-pack:center;-moz-box-pack:center;-ms-box-pack:center;-o-box-pack:center;box-pack:center}
.flexbox.reverse{-webkit-box-direction:reverse;-moz-box-direction:reverse;-ms-box-direction:reverse;-o-box-direction:reverse;box-direction:reverse}
.flexbox.single{-webkit-box-lines:single;-moz-box-lines:single;-ms-box-lines:single;-o-box-lines:single;box-lines:single}
.flexbox.multiple{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-box-lines:multiple;-o-box-lines:multiple;box-lines:multiple}
.flexbox > *{display:block}
.flexbox > .box{-webkit-box-flex:0;-moz-box-flex:0;-ms-box-flex:0;-o-box-flex:0;box-flex:0}
.flexbox > .box-1{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1}
.flexbox > .box-2{-webkit-box-flex:2;-moz-box-flex:2;-ms-box-flex:2;-o-box-flex:2;box-flex:2}
.flexbox > .flex_0{-webkit-box-flex:0;-moz-box-flex:0;-ms-box-flex:0;-o-box-flex:0;box-flex:0}
.flexbox > .flex_1{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1}
.flexbox > .flex_2{-webkit-box-flex:2;-moz-box-flex:2;-ms-box-flex:2;-o-box-flex:2;box-flex:2}
.flexbox > .flex_3{-webkit-box-flex:3;-moz-box-flex:3;-ms-box-flex:3;-o-box-flex:3;box-flex:3}
.flexbox > .flex_4{-webkit-box-flex:4;-moz-box-flex:4;-ms-box-flex:4;-o-box-flex:4;box-flex:4}
.flexbox > .flex_5{-webkit-box-flex:5;-moz-box-flex:5;-ms-box-flex:5;-o-box-flex:5;box-flex:5}
.flexbox > .flex_6{-webkit-box-flex:6;-moz-box-flex:6;-ms-box-flex:6;-o-box-flex:6;box-flex:6}
.flexbox > .flex_7{-webkit-box-flex:7;-moz-box-flex:7;-ms-box-flex:7;-o-box-flex:7;box-flex:7}
.flexbox > .flex_8{-webkit-box-flex:8;-moz-box-flex:8;-ms-box-flex:8;-o-box-flex:8;box-flex:8}
.flexbox > .flex_9{-webkit-box-flex:9;-moz-box-flex:9;-ms-box-flex:9;-o-box-flex:9;box-flex:9}
.flexbox > .order_1{-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-box-ordinal-group:1;-o-box-ordinal-group:1;box-ordinal-group:1}
.flexbox > .order_2{-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-box-ordinal-group:2;-o-box-ordinal-group:2;box-ordinal-group:2}
.flexbox > .order_3{-webkit-box-ordinal-group:3;-moz-box-ordinal-group:3;-ms-box-ordinal-group:3;-o-box-ordinal-group:3;box-ordinal-group:3}
.flexbox > .order_4{-webkit-box-ordinal-group:4;-moz-box-ordinal-group:4;-ms-box-ordinal-group:4;-o-box-ordinal-group:4;box-ordinal-group:4}
.flexbox > .order_5{-webkit-box-ordinal-group:5;-moz-box-ordinal-group:5;-ms-box-ordinal-group:5;-o-box-ordinal-group:5;box-ordinal-group:5}
.flexbox > .order_6{-webkit-box-ordinal-group:6;-moz-box-ordinal-group:6;-ms-box-ordinal-group:6;-o-box-ordinal-group:6;box-ordinal-group:6}
.flexbox > .order_7{-webkit-box-ordinal-group:7;-moz-box-ordinal-group:7;-ms-box-ordinal-group:7;-o-box-ordinal-group:7;box-ordinal-group:7}
.flexbox > .order_8{-webkit-box-ordinal-group:8;-moz-box-ordinal-group:8;-ms-box-ordinal-group:8;-o-box-ordinal-group:8;box-ordinal-group:8}
.flexbox > .order_9{-webkit-box-ordinal-group:9;-moz-box-ordinal-group:9;-ms-box-ordinal-group:9;-o-box-ordinal-group:9;box-ordinal-group:9}

h1,h2,h3,h4,h5,h6{margin:0;padding:0}
h1{font-size:2.6em}
h2{font-size:2.2em}
h3{font-size:1.8em}
h4{font-size:1.6em}
h5{font-size:1.3em}
h6{font-size:1em}
.text.thin{font-weight:200}
.text.book{font-weight:300}
.text.normal{font-weight:400}
.text.bold{font-weight:700}
.text.italic{font-style:italic}
.text.underline{text-decoration:underline}
.text.uppercase{text-transform:uppercase}
.text.tiny{font-size:.8em}
.text.small{font-size:.9em}
.text.big{font-size:1.2em}
.text.large{font-size:1.5em}
.align.left,.text.left{text-align:left}
.align.right,.text.right{text-align:right}
.align.center,.text.center{text-align:center}
.align.justify,.text.justify{text-align:justify}
p{font-size:1.1em}
small{font-size:.9em}
strong{font-weight:700 !important}

form input[type="text"],.form input[type="text"],form input[type="password"],.form input[type="password"],form input[type="date"],.form input[type="date"],form input[type="datetime"],.form input[type="datetime"],form input[type="email"],.form input[type="email"],form input[type="number"],.form input[type="number"],form input[type="search"],.form input[type="search"],form input[type="tel"],.form input[type="tel"],form input[type="time"],.form input[type="time"],form input[type="url"],.form input[type="url"],form select,.form select,form textarea,.form textarea{display:block;width:100%;line-height:2.2em;padding:0 10px;margin:2px 0 6px 0;font-family:inherit;font-size:inherit;-webkit-appearance:none;-webkit-user-select:text;-webkit-font-smoothing:antialiased;}
form input[type="text"]:focus,.form input[type="text"]:focus,form input[type="password"]:focus,.form input[type="password"]:focus,form input[type="date"]:focus,.form input[type="date"]:focus,form input[type="datetime"]:focus,.form input[type="datetime"]:focus,form input[type="email"]:focus,.form input[type="email"]:focus,form input[type="number"]:focus,.form input[type="number"]:focus,form input[type="search"]:focus,.form input[type="search"]:focus,form input[type="tel"]:focus,.form input[type="tel"]:focus,form input[type="time"]:focus,.form input[type="time"]:focus,form input[type="url"]:focus,.form input[type="url"]:focus,form select:focus,.form select:focus,form textarea:focus,.form textarea:focus{outline:none !important}
form input[type="text"].large,.form input[type="text"].large,form input[type="password"].large,.form input[type="password"].large,form input[type="date"].large,.form input[type="date"].large,form input[type="datetime"].large,.form input[type="datetime"].large,form input[type="email"].large,.form input[type="email"].large,form input[type="number"].large,.form input[type="number"].large,form input[type="search"].large,.form input[type="search"].large,form input[type="tel"].large,.form input[type="tel"].large,form input[type="time"].large,.form input[type="time"].large,form input[type="url"].large,.form input[type="url"].large,form select.large,.form select.large,form textarea.large,.form textarea.large{line-height:2.25em;padding:0 14px;font-size:1.5em}
form textarea,.form textarea{padding-top:5px;min-height:64px;line-height:1.4em}
form label,.form label{font-size:.9em;font-weight:400}
form input[type="checkbox"],.form input[type="checkbox"],form input[type="radio"],.form input[type="radio"]{display:inline-block !important;margin-right:5px;width:18px;height:18px;-webkit-appearance:none;text-align:center;}
form input[type="checkbox"]:after,.form input[type="checkbox"]:after,form input[type="radio"]:after,.form input[type="radio"]:after{content:"+";opacity:0;font-weight:bold}
form input[type="checkbox"]:checked:after,.form input[type="checkbox"]:checked:after,form input[type="radio"]:checked:after,.form input[type="radio"]:checked:after{opacity:1}
form input[type="checkbox"]:checked:after,.form input[type="checkbox"]:checked:after{content:"✔"}
form input[type="radio"],.form input[type="radio"]{-webkit-border-radius:9px;-moz-border-radius:9px;-ms-border-radius:9px;-o-border-radius:9px;border-radius:9px;}
form input[type="radio"]:checked:after,.form input[type="radio"]:checked:after{content:"·"}
form .select,.form .select{position:relative;display:block;}
form .select:after,.form .select:after{z-index:128;position:absolute;top:10px;right:10px;content:"▼";pointer-events:none}
form .fieldset label,.form .fieldset label,form fieldset label,.form fieldset label{display:block;text-align:right;float:left;width:25%;padding:2px 8px;}
form .fieldset label > small,.form .fieldset label > small,form fieldset label > small,.form fieldset label > small{display:block;font-size:.8em;font-weight:300}
form .fieldset input[type="text"],.form .fieldset input[type="text"],form fieldset input[type="text"],.form fieldset input[type="text"],form .fieldset input[type="password"],.form .fieldset input[type="password"],form fieldset input[type="password"],.form fieldset input[type="password"],form .fieldset input[type="date"],.form .fieldset input[type="date"],form fieldset input[type="date"],.form fieldset input[type="date"],form .fieldset input[type="datetime"],.form .fieldset input[type="datetime"],form fieldset input[type="datetime"],.form fieldset input[type="datetime"],form .fieldset input[type="email"],.form .fieldset input[type="email"],form fieldset input[type="email"],.form fieldset input[type="email"],form .fieldset input[type="number"],.form .fieldset input[type="number"],form fieldset input[type="number"],.form fieldset input[type="number"],form .fieldset input[type="search"],.form .fieldset input[type="search"],form fieldset input[type="search"],.form fieldset input[type="search"],form .fieldset input[type="tel"],.form .fieldset input[type="tel"],form fieldset input[type="tel"],.form fieldset input[type="tel"],form .fieldset input[type="time"],.form .fieldset input[type="time"],form fieldset input[type="time"],.form fieldset input[type="time"],form .fieldset input[type="url"],.form .fieldset input[type="url"],form fieldset input[type="url"],.form fieldset input[type="url"],form .fieldset select,.form .fieldset select,form fieldset select,.form fieldset select,form .fieldset textarea,.form .fieldset textarea,form fieldset textarea,.form fieldset textarea{width:75%}
[data-control=checkbox]{display:inline-block;margin:2px 0 6px 0;width:76px;height:29px;position:relative;line-height:29px !important;font-size:FONT_size_normal;}
[data-control=checkbox],[data-control=checkbox] label{-webkit-transition:all 200ms ease;-moz-transition:all 200ms ease;-ms-transition:all 200ms ease;-o-transition:all 200ms ease;transition:all 200ms ease}
[data-control=checkbox] input[type=checkbox]{visibility:hidden}
[data-control=checkbox]:after,[data-control=checkbox]:before{z-index:0;position:absolute}
[data-control=checkbox]:before{content:"ON";left:13.18181818181818px;opacity:0}
[data-control=checkbox]:after{content:"OFF";right:13.18181818181818px}
[data-control=checkbox].checked:before{opacity:1;z-index:1}
[data-control=checkbox].checked:after{opacity:0;z-index:0}
[data-control=checkbox] label{display:block;height:21px;width:21px;cursor:pointer;position:absolute;top:4px;left:5px;z-index:1}
[data-control=checkbox] input[type=checkbox]:checked + label{left:50px}

.row{margin:0 auto;width:960px;overflow:hidden;display:block;}
.row .row{margin:0 -16px 0 -16px;width:auto;display:inline-block}
[class^="column_"],[class*=" column_"]{margin:0 16px 0 16px;float:left;display:inline}
.column_1{width:48px}
.column_2{width:128px}
.column_3{width:208px}
.column_4{width:288px}
.column_5{width:368px}
.column_6{width:448px}
.column_7{width:528px}
.column_8{width:608px}
.column_9{width:688px}
.column_10{width:768px}
.column_11{width:848px}
.column_12{width:928px}
.offset_1{margin-left:96px}
.offset_2{margin-left:176px}
.offset_3{margin-left:256px}
.offset_4{margin-left:336px}
.offset_5{margin-left:416px}
.offset_6{margin-left:496px}
.offset_7{margin-left:576px}
.offset_8{margin-left:656px}
.offset_9{margin-left:736px}
.offset_10{margin-left:816px}
.offset_11{margin-left:896px}
.show-phone{display:none !important}
.show-tablet{display:none !important}
.show-screen{display:inherit !important}
.hide-phone{display:inherit !important}
.hide-tablet{display:inherit !important}
.hide-screen{display:none !important}
@media only screen and (min-width:1200px){.row{width:1200px;}
.row .row{margin:0 -20px 0 -20px}
[class^="column_"],[class*=" column_"]{margin:0 20px 0 20px}
.column_1{width:60px}
.column_2{width:160px}
.column_3{width:260px}
.column_4{width:360px}
.column_5{width:460px}
.column_6{width:560px}
.column_7{width:660px}
.column_8{width:760px}
.column_9{width:860px}
.column_10{width:960px}
.column_11{width:1060px}
.column_12{width:1160px}
.offset_1{margin-left:120px}
.offset_2{margin-left:220px}
.offset_3{margin-left:320px}
.offset_4{margin-left:420px}
.offset_5{margin-left:520px}
.offset_6{margin-left:620px}
.offset_7{margin-left:720px}
.offset_8{margin-left:820px}
.offset_9{margin-left:920px}
.offset_10{margin-left:1020px}
.offset_11{margin-left:1120px}
.show-phone{display:none !important}
.show-tablet{display:none !important}
.show-screen{display:inherit}
.hide-phone{display:inherit !important}
.hide-tablet{display:inherit !important}
.hide-screen{display:none !important}
}@media only screen and (min-width: 768px) and (max-width: 959px){.row{width:768px;}
.row .row{margin:0 -14px 0 -14px}
[class^="column_"],[class*=" column_"]{margin:0 14px 0 14px}
.column_1{width:36px}
.column_2{width:100px}
.column_3{width:164px}
.column_4{width:228px}
.column_5{width:292px}
.column_6{width:356px}
.column_7{width:420px}
.column_8{width:484px}
.column_9{width:548px}
.column_10{width:612px}
.column_11{width:676px}
.column_12{width:740px}
.offset_1{margin-left:78px}
.offset_2{margin-left:142px}
.offset_3{margin-left:206px}
.offset_4{margin-left:270px}
.offset_5{margin-left:334px}
.offset_6{margin-left:398px}
.offset_7{margin-left:462px}
.offset_8{margin-left:526px}
.offset_9{margin-left:590px}
.offset_10{margin-left:654px}
.offset_11{margin-left:718px}
.show-phone{display:none !important}
.show-tablet{display:inherit !important}
.show-screen{display:none !important}
.hide-phone{display:inherit !important}
.hide-tablet{display:none !important}
.hide-screen{display:inherit !important}
}@media only screen and (max-width: 767px){.row{width:300px;}
.row .row{margin:0}
[class^="column_"],[class*=" column_"]{width:300px;margin:10px 0 0 0}
.offset_1,.offset_2,.offset_3,.offset_4,.offset_5,.offset_6,.offset_7,.offset_8,.offset_9,.offset_10,.offset_11{margin-left:0}
.show-phone{display:inherit !important}
.show-tablet{display:none !important}
.show-screen{display:none !important}
.hide-phone{display:none !important}
.hide-tablet{display:inherit !important}
.hide-screen{display:inherit !important}
}@media only screen and (min-width: 480px) and (max-width: 767px){.row{margin:0 auto;width:456px}
.row .row{margin:0;width:auto;display:inline-block}
[class^="column_"],[class*=" column_"]{margin:10px 0 0 0;width:456px}
.show-phone,.hide-tablet,.hide-screen{display:inherit !important}
.show-tablet,.show-screen,.hide-phone{display:none !important}
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-weight:inherit;vertical-align:baseline}
body,html{height:100%;width:100%}
body{margin:0;padding:0;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;}
body *{box-sizing:border-box}
body > header{line-height:48px;position:relative;}
body > header .logo{font-size:2em;line-height:48px}
body > header nav{font-size:.95em;}
body > header nav a{margin:0 10px;}
body > header nav a:last-child{margin-right:0}
body > section.padding{padding:4em 0}
body > section.landing{padding:6em 0;}
body > section.landing h1{font-size:8em}
body > section.landing h2{font-size:4em}
body > section.landing h3{font-size:2.8em}
body > section.landing .form{margin-top:5px;}
body > section.landing .form input{width:65%}
body > section.landing .form .button,body > section.landing .form button{width:35%}
a{text-decoration:none;outline:0;}
a:link{-webkit-transition:color 400ms linear;-moz-transition:color 400ms linear;-ms-transition:color 400ms linear;-o-transition:color 400ms linear;transition:color 400ms linear}

ul{list-style:disc;}
ul.square li,ul.circle li{margin:0 0 5px 18px}
ul:not(.none) li{padding:0;background:none}
ul ul,ul ol{margin:5px 0 5px 0}
ul.none{list-style:none outside;margin:0}
ul.square,ul.square ul{list-style:square outside}
ul.circle,ul.circle ul{list-style:circle outside}
ol{margin:0 0 20px 20px;list-style:decimal;}
ol ol,ol ul{margin:5px 0 5px 20px}
ol li{margin:0 0 5px 0;padding:0;line-height:18px}

@media only screen and (min-width:1200px){header{height:auto}
}@media only screen and (min-width: 960px) and (max-width: 1199px){header{height:auto}
}@media only screen and (min-width: 768px) and (max-width: 959px){header{height:auto}
}@media only screen and (min-width: 480px) and (max-width: 767px){header{height:auto !important}
}@media only screen and (max-width: 767px){header{height:auto !important}
}@media only screen and (max-width: 767px){body{font-size:13px !important}
header{height:auto !important;line-height:32px}
nav button,nav .button,nav a{text-align:center;display:block !important;margin:2px 0 !important;line-height:32px}
nav.group a{border:none !important}
}@media only screen and (-webkit-min-device-pixel-ratio:1.5){header{height:auto}
}
[data-tuktuk="modal"]{position:fixed;top:0;left:50%;background:#fff;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-ms-border-radius:0 0 3px 3px;-o-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;-webkit-box-shadow:0 1px 4px #000;-moz-box-shadow:0 1px 4px #000;-ms-box-shadow:0 1px 4px #000;-o-box-shadow:0 1px 4px #000;box-shadow:0 1px 4px #000;-webkit-transition:all 300ms 100ms;-moz-transition:all 300ms 100ms;-ms-transition:all 300ms 100ms;-o-transition:all 300ms 100ms;transition:all 300ms 100ms;-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-ms-transform:translateY(-100%);-o-transform:translateY(-100%);transform:translateY(-100%);opacity:0;visibility:hidden;z-index:1981;}
[data-tuktuk="modal"] header,[data-tuktuk="modal"] footer,[data-tuktuk="modal"] article{padding:12px}
[data-tuktuk="modal"] article{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1}
[data-tuktuk="modal"].active{-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);-o-transform:translateY(0%);transform:translateY(0%);opacity:1;visibility:visible}
[data-tuktuk="modal"]:not(.side){margin-top:0 !important;margin-right:0 !important;}
[data-tuktuk="modal"]:not(.side).column_5{margin-left:-184px}
[data-tuktuk="modal"]:not(.side).column_6{margin-left:-224px}
[data-tuktuk="modal"]:not(.side).column_7{margin-left:-264px}
[data-tuktuk="modal"]:not(.side).column_8{margin-left:-304px}
[data-tuktuk="modal"]:not(.side).column_9{margin-left:-344px}
[data-tuktuk="modal"]:not(.side).column_10{margin-left:-384px}
[data-tuktuk="modal"]:not(.side).column_11{margin-left:-424px}
[data-tuktuk="modal"]:not(.side).column_12{margin-left:-464px}
[data-tuktuk="modal"]{width:288px}
[data-tuktuk="modal"].column_5{width:368px}
[data-tuktuk="modal"].column_6{width:448px}
[data-tuktuk="modal"].column_7{width:528px}
[data-tuktuk="modal"].column_8{width:608px}
[data-tuktuk="modal"].column_9{width:688px}
[data-tuktuk="modal"].column_10{width:768px}
[data-tuktuk="modal"].column_11{width:848px}
[data-tuktuk="modal"].column_12{width:928px}
[data-tuktuk="modal"].side{position:absolute;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;-o-box-orient:vertical;box-orient:vertical;top:0;right:0;bottom:0;left:auto;margin:0;-webkit-box-shadow:-1px 0 4px #000;-moz-box-shadow:-1px 0 4px #000;-ms-box-shadow:-1px 0 4px #000;-o-box-shadow:-1px 0 4px #000;box-shadow:-1px 0 4px #000;-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-ms-transform:translateX(100%);-o-transform:translateX(100%);transform:translateX(100%);}
[data-tuktuk="modal"].side.active{-webkit-transform:translateX(0%);-moz-transform:translateX(0%);-ms-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%)}
[data-tuktuk="modal"].side > div{width:100%;height:100%;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;-o-box-orient:vertical;box-orient:vertical}
@media only screen and (max-width: 528px){[data-tuktuk="modal"]{left:5% !important;width:90% !important;margin-left:0 !important}
}[data-tuktuk="lock"]{width:100%;height:100%;position:fixed;top:0;bottom:0;left:0;background:rgba(0,0,0,0.75);z-index:1980;visibility:hidden;opacity:0;-webkit-transition:all 300ms 100ms;-moz-transition:all 300ms 100ms;-ms-transition:all 300ms 100ms;-o-transition:all 300ms 100ms;transition:all 300ms 100ms;}
[data-tuktuk="lock"].active{visibility:visible;opacity:1;}
[data-tuktuk="lock"].active[data-loading=true]{background:rgba(0,0,0,0.25);}
[data-tuktuk="lock"].active[data-loading=true] > .loading{-webkit-animation:rotatingLoader 800ms infinite linear;moz-animation:rotatingLoader 800ms infinite linear;animation:rotatingLoader 800ms infinite linear;display:block}
[data-tuktuk="lock"] > .loading{display:none;position:relative;left:50%;top:50%;height:1em;width:1em;margin-left:-.5em;margin-top:-.5em;-webkit-transform-origin:.5em .5em;-moz-transform-origin:.5em .5em;-ms-transform-origin:.5em .5em;-o-transform-origin:.5em .5em;transform-origin:.5em .5em;font-size:80px;}
[data-tuktuk="lock"] > .loading > span{left:50%;margin-left:-.05em;background-color:#fff;}
[data-tuktuk="lock"] > .loading > span,[data-tuktuk="lock"] > .loading > span::before,[data-tuktuk="lock"] > .loading > span::after{display:block;position:absolute;width:.075em;height:.25em;top:0;-webkit-transform-origin:.05em .5em;-moz-transform-origin:.05em .5em;-ms-transform-origin:.05em .5em;-o-transform-origin:.05em .5em;transform-origin:.05em .5em;-webkit-border-radius:.075em;-moz-border-radius:.075em;-ms-border-radius:.075em;-o-border-radius:.075em;border-radius:.075em}
[data-tuktuk="lock"] > .loading > span::before,[data-tuktuk="lock"] > .loading > span::after{content:" "}
[data-tuktuk="lock"] > .loading > span.top{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}
[data-tuktuk="lock"] > .loading > span.right{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
[data-tuktuk="lock"] > .loading > span.bottom{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
[data-tuktuk="lock"] > .loading > span.left{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}
[data-tuktuk="lock"] > .loading > span::before{-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);-ms-transform:rotate(30deg);-o-transform:rotate(30deg);transform:rotate(30deg)}
[data-tuktuk="lock"] > .loading > span::after{-webkit-transform:rotate(-30deg);-moz-transform:rotate(-30deg);-ms-transform:rotate(-30deg);-o-transform:rotate(-30deg);transform:rotate(-30deg)}
[data-tuktuk="lock"] > .loading > span.top{background-color:rgba(255,255,255,0.99)}
[data-tuktuk="lock"] > .loading > span.top::after{background-color:rgba(255,255,255,0.9)}
[data-tuktuk="lock"] > .loading > span.left::before{background-color:rgba(255,255,255,0.8)}
[data-tuktuk="lock"] > .loading > span.left{background-color:rgba(255,255,255,0.7)}
[data-tuktuk="lock"] > .loading > span.left::after{background-color:rgba(255,255,255,0.6)}
[data-tuktuk="lock"] > .loading > span.bottom::before{background-color:rgba(255,255,255,0.5)}
[data-tuktuk="lock"] > .loading > span.bottom{background-color:rgba(255,255,255,0.4)}
[data-tuktuk="lock"] > .loading > span.bottom::after{background-color:rgba(255,255,255,0.35)}
[data-tuktuk="lock"] > .loading > span.right::before{background-color:rgba(255,255,255,0.3)}
[data-tuktuk="lock"] > .loading > span.right{background-color:rgba(255,255,255,0.25)}
[data-tuktuk="lock"] > .loading > span.right::after{background-color:rgba(255,255,255,0.2)}
[data-tuktuk="lock"] > .loading > span.top::before{background-color:rgba(255,255,255,0.15)}
@-webkit-keyframes rotatingLoader{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}
8.32%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}
8.33%{-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);-ms-transform:rotate(30deg);-o-transform:rotate(30deg);transform:rotate(30deg)}
16.65%{-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);-ms-transform:rotate(30deg);-o-transform:rotate(30deg);transform:rotate(30deg)}
16.66%{-webkit-transform:rotate(60deg);-moz-transform:rotate(60deg);-ms-transform:rotate(60deg);-o-transform:rotate(60deg);transform:rotate(60deg)}
24.99%{-webkit-transform:rotate(60deg);-moz-transform:rotate(60deg);-ms-transform:rotate(60deg);-o-transform:rotate(60deg);transform:rotate(60deg)}
25%{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
33.32%{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
33.33%{-webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);-ms-transform:rotate(120deg);-o-transform:rotate(120deg);transform:rotate(120deg)}
41.65%{-webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);-ms-transform:rotate(120deg);-o-transform:rotate(120deg);transform:rotate(120deg)}
41.66%{-webkit-transform:rotate(150deg);-moz-transform:rotate(150deg);-ms-transform:rotate(150deg);-o-transform:rotate(150deg);transform:rotate(150deg)}
49.99%{-webkit-transform:rotate(150deg);-moz-transform:rotate(150deg);-ms-transform:rotate(150deg);-o-transform:rotate(150deg);transform:rotate(150deg)}
50%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
58.32%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
58.33%{-webkit-transform:rotate(210deg);-moz-transform:rotate(210deg);-ms-transform:rotate(210deg);-o-transform:rotate(210deg);transform:rotate(210deg)}
66.65%{-webkit-transform:rotate(210deg);-moz-transform:rotate(210deg);-ms-transform:rotate(210deg);-o-transform:rotate(210deg);transform:rotate(210deg)}
66.66%{-webkit-transform:rotate(240deg);-moz-transform:rotate(240deg);-ms-transform:rotate(240deg);-o-transform:rotate(240deg);transform:rotate(240deg)}
74.99%{-webkit-transform:rotate(240deg);-moz-transform:rotate(240deg);-ms-transform:rotate(240deg);-o-transform:rotate(240deg);transform:rotate(240deg)}
75%{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}
83.32%{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}
83.33%{-webkit-transform:rotate(300deg);-moz-transform:rotate(300deg);-ms-transform:rotate(300deg);-o-transform:rotate(300deg);transform:rotate(300deg)}
91.65%{-webkit-transform:rotate(300deg);-moz-transform:rotate(300deg);-ms-transform:rotate(300deg);-o-transform:rotate(300deg);transform:rotate(300deg)}
91.66%{-webkit-transform:rotate(330deg);-moz-transform:rotate(330deg);-ms-transform:rotate(330deg);-o-transform:rotate(330deg);transform:rotate(330deg)}
100%{-webkit-transform:rotate(330deg);-moz-transform:rotate(330deg);-ms-transform:rotate(330deg);-o-transform:rotate(330deg);transform:rotate(330deg)}
}@-moz-keyframes rotatingLoader{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}
8.32%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}
8.33%{-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);-ms-transform:rotate(30deg);-o-transform:rotate(30deg);transform:rotate(30deg)}
16.65%{-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);-ms-transform:rotate(30deg);-o-transform:rotate(30deg);transform:rotate(30deg)}
16.66%{-webkit-transform:rotate(60deg);-moz-transform:rotate(60deg);-ms-transform:rotate(60deg);-o-transform:rotate(60deg);transform:rotate(60deg)}
24.99%{-webkit-transform:rotate(60deg);-moz-transform:rotate(60deg);-ms-transform:rotate(60deg);-o-transform:rotate(60deg);transform:rotate(60deg)}
25%{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
33.32%{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
33.33%{-webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);-ms-transform:rotate(120deg);-o-transform:rotate(120deg);transform:rotate(120deg)}
41.65%{-webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);-ms-transform:rotate(120deg);-o-transform:rotate(120deg);transform:rotate(120deg)}
41.66%{-webkit-transform:rotate(150deg);-moz-transform:rotate(150deg);-ms-transform:rotate(150deg);-o-transform:rotate(150deg);transform:rotate(150deg)}
49.99%{-webkit-transform:rotate(150deg);-moz-transform:rotate(150deg);-ms-transform:rotate(150deg);-o-transform:rotate(150deg);transform:rotate(150deg)}
50%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
58.32%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
58.33%{-webkit-transform:rotate(210deg);-moz-transform:rotate(210deg);-ms-transform:rotate(210deg);-o-transform:rotate(210deg);transform:rotate(210deg)}
66.65%{-webkit-transform:rotate(210deg);-moz-transform:rotate(210deg);-ms-transform:rotate(210deg);-o-transform:rotate(210deg);transform:rotate(210deg)}
66.66%{-webkit-transform:rotate(240deg);-moz-transform:rotate(240deg);-ms-transform:rotate(240deg);-o-transform:rotate(240deg);transform:rotate(240deg)}
74.99%{-webkit-transform:rotate(240deg);-moz-transform:rotate(240deg);-ms-transform:rotate(240deg);-o-transform:rotate(240deg);transform:rotate(240deg)}
75%{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}
83.32%{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}
83.33%{-webkit-transform:rotate(300deg);-moz-transform:rotate(300deg);-ms-transform:rotate(300deg);-o-transform:rotate(300deg);transform:rotate(300deg)}
91.65%{-webkit-transform:rotate(300deg);-moz-transform:rotate(300deg);-ms-transform:rotate(300deg);-o-transform:rotate(300deg);transform:rotate(300deg)}
91.66%{-webkit-transform:rotate(330deg);-moz-transform:rotate(330deg);-ms-transform:rotate(330deg);-o-transform:rotate(330deg);transform:rotate(330deg)}
100%{-webkit-transform:rotate(330deg);-moz-transform:rotate(330deg);-ms-transform:rotate(330deg);-o-transform:rotate(330deg);transform:rotate(330deg)}
}
nav[data-tuktuk=menu] > a{font-size:15px;}
nav[data-tuktuk=menu] > a small{font-size:.8em;margin-left:.4em}
nav[data-tuktuk=menu] > a .icon{display:inline-block;width:1em;margin-right:.5em}
section nav[data-tuktuk=menu] > a,header nav[data-tuktuk=menu] > a,footer nav[data-tuktuk=menu] > a{line-height:2.5em;padding:0 1em;display:inline-block;}
section nav[data-tuktuk=menu] > a:not(:first-child),header nav[data-tuktuk=menu] > a:not(:first-child),footer nav[data-tuktuk=menu] > a:not(:first-child){margin-left:.5em}
[data-tuktuk=boxes] aside nav[data-tuktuk=menu]{margin:.5em;}
[data-tuktuk=boxes] aside nav[data-tuktuk=menu] > a{display:block;padding:.6666666666666666em .5em}

::-webkit-scrollbar{width:2px;height:2px;position:absolute}
::-webkit-scrollbar-button:vertical{background-color:#f00}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment{display:block}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement{display:none}
::-webkit-scrollbar-button:vertical:increment{display:none}
::-webkit-scrollbar-button:vertical:decrement{display:none}
::-webkit-scrollbar-button:horizontal:increment{display:none}
::-webkit-scrollbar-button:horizontal:decrement{display:none}
::-webkit-scrollbar-track:vertical{background-color:none}
::-webkit-scrollbar-track-piece:vertical:start{border:0}
::-webkit-scrollbar-track-piece:vertical:end{border:0}
::-webkit-scrollbar-track-piece{background-color:none}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:rgba(0,0,0,0.4)}
::-webkit-scrollbar-thumb:horizontal{height:50px;background-color:#808080}
::-webkit-scrollbar-corner:vertical{background-color:#000}
::-webkit-scrollbar-resizer:vertical{background-color:#808080}

table{margin:12px 0 12px 0;width:100%;border-spacing:2px;}
table td,table th{padding:10px 8px 10px 8px}
table th{font-weight:700}
table td.highlight{font-weight:700}

[data-tip]{position:relative;display:inline-block;}
[data-tip]:before,[data-tip]:after{position:absolute;opacity:0;z-index:1000000;pointer-events:none;-webkit-transition:all 300ms;-moz-transition:all 300ms;-ms-transition:all 300ms;-o-transition:all 300ms;transition:all 300ms}
[data-tip]:before{content:'';position:absolute;background:transparent;border:6px solid transparent;z-index:1000001}
[data-tip]:after{content:attr(data-tip);background:rgba(0,0,0,0.75);color:#fff;-webkit-text-shadow:0 -1px 0 #000;-moz-text-shadow:0 -1px 0 #000;-ms-text-shadow:0 -1px 0 #000;-o-text-shadow:0 -1px 0 #000;text-shadow:0 -1px 0 #000;padding:8px 10px;font-size:13px;line-height:13px;font-weight:600;white-space:nowrap;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.25);-moz-box-shadow:0 0 8px rgba(0,0,0,0.25);-ms-box-shadow:0 0 8px rgba(0,0,0,0.25);-o-box-shadow:0 0 8px rgba(0,0,0,0.25);box-shadow:0 0 8px rgba(0,0,0,0.25)}
[data-tip]:hover:before,[data-tip]:hover:after{opacity:1}
[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):before{border-bottom-color:rgba(0,0,0,0.75);margin-top:-12px}
[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):after{margin-left:-18px}
[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):before,[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):after{top:100%;left:50%}
[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):hover:before,[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):hover:after{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);-ms-transform:translateY(8px);-o-transform:translateY(8px);transform:translateY(8px)}
[data-tip].tip-top:before{border-top-color:rgba(0,0,0,0.75);margin-bottom:-12px}
[data-tip].tip-top:after{margin-left:-18px}
[data-tip].tip-top:before,[data-tip].tip-top:after{bottom:100%;left:50%}
[data-tip].tip-top:hover:before,[data-tip].tip-top:hover:after{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);-ms-transform:translateY(-8px);-o-transform:translateY(-8px);transform:translateY(-8px)}
[data-tip].tip-left:before{margin-right:-12px;margin-bottom:-6px;border-left-color:rgba(0,0,0,0.75)}
[data-tip].tip-left:after{margin-bottom:-14px}
[data-tip].tip-left:before,[data-tip].tip-left:after{right:100%;bottom:50%}
[data-tip].tip-left:hover:before,[data-tip].tip-left:hover:after{-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);-ms-transform:translateX(-8px);-o-transform:translateX(-8px);transform:translateX(-8px)}
[data-tip].tip-right:before{margin-left:-12px;margin-bottom:-6px;border-right-color:rgba(0,0,0,0.75)}
[data-tip].tip-right:after{margin-bottom:-14px}
[data-tip].tip-right:before,[data-tip].tip-right:after{left:100%;bottom:50%}
[data-tip].tip-right:hover:before,[data-tip].tip-right:hover:after{-webkit-transform:translateX(8px);-moz-transform:translateX(8px);-ms-transform:translateX(8px);-o-transform:translateX(8px);transform:translateX(8px)}

.scroll{overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-box-flex:1;}
.scroll.horizontal{overflow-x:scroll;overflow-y:hidden;white-space:nowrap}
.clear{clear:both}
.on-left{float:left}
.on-right{float:right}
.block{display:block}
.inline{display:inline-block}
.none{display:none}
.margin-none{margin:0}
.margin{margin:1em}
.margin-left{margin-left:1em}
.margin-right{margin-right:1em}
.margin-top{margin-top:1em}
.margin-bottom{margin-bottom:1em}
.padding-none{padding:0}
.padding{padding:1em}
.padding-left{padding-left:1em}
.padding-right{padding-right:1em}
.padding-top{padding-top:1em}
.padding-bottom{padding-bottom:1em}
div.img{height:64px;}
div.img.h128{height:128px}
div.img.h256{height:256px}
div.img.h512{height:512px}
img{border:0;-ms-interpolation-mode:bicubic;}
img.responsive{width:100%;height:auto;}
img.responsive.vertical{height:100%;width:auto}
img.responsive.rounded{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%}
:not(.icon).tag{position:relative;top:-2px;padding:1px 3px;font-weight:bold !important;font-size:9px !important;text-transform:uppercase}
hr{border:0;height:1px;margin:0}
[data-tuktuk=totals]{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-box-pack:justify;-o-box-pack:justify;box-pack:justify;text-align:center;list-style:none;}
[data-tuktuk=totals] > *{-webkit-box-flex:0;-moz-box-flex:0;-ms-box-flex:0;-o-box-flex:0;box-flex:0;}
[data-tuktuk=totals] > * > strong{display:block;font-size:1.8em;line-height:.8em}
[data-tuktuk=totals] > * > small{text-transform:uppercase;font-size:.8em}
[data-tuktuk=buttons]{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-box-pack:justify;-o-box-pack:justify;box-pack:justify;}
[data-tuktuk=buttons] > *{-webkit-box-flex:0;-moz-box-flex:0;-ms-box-flex:0;-o-box-flex:0;box-flex:0;display:inherit}

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
body{color:#34495e;font-size:14px;font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400;background:#fff;}
body:not(.color):not(.dark) a{color:#34495e;}
body:not(.color):not(.dark) a:not(.button):hover,body:not(.color):not(.dark) a:not(.button):active{color:#1abc9c}
body hr{margin:15px 0;background:#ecf0f1;background-color:rgba(0,0,0,0.1)}
body .radius{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}
body nav[data-tuktuk=menu] > a{-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;}
body nav[data-tuktuk=menu] > a:hover{background-color:rgba(0,0,0,0.05)}
body nav[data-tuktuk=menu] > a.active{color:#34495e;background-color:rgba(0,0,0,0.1);}
body nav[data-tuktuk=menu] > a.active .icon{color:#1abc9c}
body nav[data-tuktuk=menu] > a:not(.active):not(:hover) > .icon,body nav[data-tuktuk=menu] > a small{opacity:.6;font-weight:400}
body .bck.color nav[data-tuktuk=menu] > a:hover,body .bck.dark nav[data-tuktuk=menu] > a:hover{background-color:rgba(0,0,0,0.07)}
body .bck.color nav[data-tuktuk=menu] > a.active,body .bck.dark nav[data-tuktuk=menu] > a.active{background-color:rgba(0,0,0,0.15)}
body .bck.light{background-color:#ecf0f1}
body .bck.color{background-color:#34495e}
body .bck.dark{background-color:#2c3e50}
body .bck.theme{background-color:#1abc9c}
body .bck.alert{background-color:#e74c3c !important}
body .bck.theme,body .bck.alert{color:#fff}
body .bck.color,body .bck.dark{color:#c4d2df;}
body .bck.color hr,body .bck.dark hr{background:#415b75;background:rgba(0,0,0,0.2)}
body .bck.color a,body .bck.dark a{color:#fff;}
body .bck.color a.active,body .bck.dark a.active{color:#fff !important}
body .text.shadow{-webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);-ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);-o-text-shadow:0 1px 1px rgba(0,0,0,0.5);text-shadow:0 1px 1px rgba(0,0,0,0.5)}
body .color.white{color:#fff !important}
body .color.theme{color:#1abc9c !important}
body .color.default{color:#34495e !important}
body form input[type="text"],body .form input[type="text"],body form input[type="password"],body .form input[type="password"],body form input[type="date"],body .form input[type="date"],body form input[type="datetime"],body .form input[type="datetime"],body form input[type="email"],body .form input[type="email"],body form input[type="number"],body .form input[type="number"],body form input[type="search"],body .form input[type="search"],body form input[type="tel"],body .form input[type="tel"],body form input[type="time"],body .form input[type="time"],body form input[type="url"],body .form input[type="url"],body form select,body .form select,body form textarea,body .form textarea{background-color:#fff;color:#34495e;border:2px solid #dce4ec;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;-webkit-transition:border-color 400ms;-moz-transition:border-color 400ms;-ms-transition:border-color 400ms;-o-transition:border-color 400ms;transition:border-color 400ms;}
body form input[type="text"].error,body .form input[type="text"].error,body form input[type="password"].error,body .form input[type="password"].error,body form input[type="date"].error,body .form input[type="date"].error,body form input[type="datetime"].error,body .form input[type="datetime"].error,body form input[type="email"].error,body .form input[type="email"].error,body form input[type="number"].error,body .form input[type="number"].error,body form input[type="search"].error,body .form input[type="search"].error,body form input[type="tel"].error,body .form input[type="tel"].error,body form input[type="time"].error,body .form input[type="time"].error,body form input[type="url"].error,body .form input[type="url"].error,body form select.error,body .form select.error,body form textarea.error,body .form textarea.error,body form input[type="text"]:required,body .form input[type="text"]:required,body form input[type="password"]:required,body .form input[type="password"]:required,body form input[type="date"]:required,body .form input[type="date"]:required,body form input[type="datetime"]:required,body .form input[type="datetime"]:required,body form input[type="email"]:required,body .form input[type="email"]:required,body form input[type="number"]:required,body .form input[type="number"]:required,body form input[type="search"]:required,body .form input[type="search"]:required,body form input[type="tel"]:required,body .form input[type="tel"]:required,body form input[type="time"]:required,body .form input[type="time"]:required,body form input[type="url"]:required,body .form input[type="url"]:required,body form select:required,body .form select:required,body form textarea:required,body .form textarea:required{border-color:#e74c3c !important;color:#e74c3c}
body form input[type="text"]:focus,body .form input[type="text"]:focus,body form input[type="password"]:focus,body .form input[type="password"]:focus,body form input[type="date"]:focus,body .form input[type="date"]:focus,body form input[type="datetime"]:focus,body .form input[type="datetime"]:focus,body form input[type="email"]:focus,body .form input[type="email"]:focus,body form input[type="number"]:focus,body .form input[type="number"]:focus,body form input[type="search"]:focus,body .form input[type="search"]:focus,body form input[type="tel"]:focus,body .form input[type="tel"]:focus,body form input[type="time"]:focus,body .form input[type="time"]:focus,body form input[type="url"]:focus,body .form input[type="url"]:focus,body form select:focus,body .form select:focus,body form textarea:focus,body .form textarea:focus{border-color:#1abc9c}
body form .select:after,body .form .select:after{color:#dce4ec}
body form input[type="checkbox"],body .form input[type="checkbox"],body form input[type="radio"],body .form input[type="radio"]{background:#fff;border:2px solid #dce4ec;}
body form input[type="checkbox"]:checked,body .form input[type="checkbox"]:checked,body form input[type="radio"]:checked,body .form input[type="radio"]:checked{border-color:#1abc9c;}
body form input[type="checkbox"]:checked:after,body .form input[type="checkbox"]:checked:after,body form input[type="radio"]:checked:after,body .form input[type="radio"]:checked:after{color:#1abc9c}
body form input[type="checkbox"],body .form input[type="checkbox"]{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}
body [data-control="checkbox"]{background:#a7babe;color:#dee5e7;font-weight:700;-webkit-border-radius:20px;-moz-border-radius:20px;-ms-border-radius:20px;-o-border-radius:20px;border-radius:20px;}
body [data-control="checkbox"] label{-webkit-border-radius:20px;-moz-border-radius:20px;-ms-border-radius:20px;-o-border-radius:20px;border-radius:20px;background:#658289}
body [data-control="checkbox"].checked{background-color:#1abc9c;color:#fff !important;}
body [data-control="checkbox"].checked label{background-color:#138d75}
body table{background:#fff;color:#34495e;border:1px solid #c4d2df;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;}
body table tr:nth-child(even) td{background-color:#f3f6f9}
body table th{background-color:#c4d2df;color:#fff}
body table td.highlight{background-color:#1abc9c !important;color:#fff}
body .button,body button{color:#fff !important;font-weight:600;}
body .button:not(.transparent),body button:not(.transparent){background-color:#1abc9c;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 -2px 0 rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 -2px 0 rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);-ms-box-shadow:inset 0 -2px 0 rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);-o-box-shadow:inset 0 -2px 0 rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);box-shadow:inset 0 -2px 0 rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);}
body .button:not(.transparent):hover,body button:not(.transparent):hover{-webkit-box-shadow:inset 0 0 128px rgba(255,255,255,0.2),inset 0 -2px 0 rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 0 128px rgba(255,255,255,0.2),inset 0 -2px 0 rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.2);-ms-box-shadow:inset 0 0 128px rgba(255,255,255,0.2),inset 0 -2px 0 rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.2);-o-box-shadow:inset 0 0 128px rgba(255,255,255,0.2),inset 0 -2px 0 rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.2);box-shadow:inset 0 0 128px rgba(255,255,255,0.2),inset 0 -2px 0 rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.2)}
body .button:not(.transparent):active,body button:not(.transparent):active{-webkit-box-shadow:inset 0 0 128px rgba(0,0,0,0.1),inset 0 1px 0 rgba(0,0,0,0.1);-moz-box-shadow:inset 0 0 128px rgba(0,0,0,0.1),inset 0 1px 0 rgba(0,0,0,0.1);-ms-box-shadow:inset 0 0 128px rgba(0,0,0,0.1),inset 0 1px 0 rgba(0,0,0,0.1);-o-box-shadow:inset 0 0 128px rgba(0,0,0,0.1),inset 0 1px 0 rgba(0,0,0,0.1);box-shadow:inset 0 0 128px rgba(0,0,0,0.1),inset 0 1px 0 rgba(0,0,0,0.1)}
body .button:not(.transparent).secondary,body button:not(.transparent).secondary{background-color:#a7babe;color:#ecf0f1}
body .button:not(.transparent).success,body button:not(.transparent).success{background-color:#2ecc71}
body .button:not(.transparent).alert,body button:not(.transparent).alert{background-color:#e74c3c}
body .button.transparent,body button.transparent{background:none !important}
body .button.large,body button.large{font-weight:500}
body div.img{background:#ecf0f1}
body :not(.icon).tag{color:#fff !important;border:solid 1px rgba(0,0,0,0.1);-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px}
[data-tuktuk="modal"] header{background:#1abc9c !important;color:#fff}
[data-tuktuk=boxes] aside{background:#fff;color:#476481;}
[data-tuktuk=boxes] aside header{-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);-moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);-ms-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);-o-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1)}
[data-tuktuk=boxes] aside [data-menu] > a:not(.button){-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;}
[data-tuktuk=boxes] aside [data-menu] > a:not(.button).active{background:#1abc9c;color:#fff}
